.hero {
  background-image: url('hero-banner.png');
  background-size: cover;
}

.hero .title {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.is-blue {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.signup-div label {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.subtitle {
  font-weight: 700;
}

.signup-div .checkbox:hover {
  text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
  color: black;
}

.navbar-brand {
  justify-content: space-between;
}

.burger {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@media only screen and (max-width: 1023px) {
  .navbar-brand {
    padding: 5px;
  }
}

.section-title {
  font-weight: 800;
  font-size: larger;
  text-align: center;
}

img {
  max-height: 30vh;
  align-self: center;
  margin: 20px;
}

.img-div {
  display: flex;
  justify-content: center;
}

.section {
  padding-bottom: 0;
}

.splash-body p {
  text-align: center;
}

hr {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.social-icon {
  margin-top: 1.6vh;
  margin-right: 1vw;
  color: #3273dc;
}

.social-icon:hover {
  cursor: pointer;
}

.fa-twitter {
  padding-top: 2px;
}

ul {
  list-style: unset;
  margin-left: 2vw;
}

.share-btns {
  margin-left: 2vw;
}

.topic-section {
  border-bottom: 1px solid #606279;
}

.edit-label {
  font-weight: 700;
}

.del-btn {
  margin-left: 5px;
}
